spacy==3.7.4
langchain==0.2.14
openai==1.42.0
tiktoken==0.7.0
langchain-openai==0.1.22
chromadb==0.4.15
transformers==4.44.2
protobuf==3.20.1
langchain-huggingface==0.0.3
langchain-community==0.2.12
langchain-google-genai==1.0.10
google-generativeai==0.7.2
streamlit==1.22.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19
keras==3.5.0
mysql-connector-python==9.0.0
pymysql==1.1.1
sentence-transformers==3.0.1
faiss-cpu==1.7.4
python-dotenv==1.0.1
langchain_experimental==0.0.25
